@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#F4F7FC;
    color:#1E293B;
}

a{
    text-decoration:none;
    color:inherit;
}

.container{
    display:flex;
    min-height:calc(100vh - 70px);
}

.content{
    flex:1;
    padding:30px;
    margin-left:250px;
    margin-top:70px;
}

.card{
    background:#fff;
    border-radius:18px;
    padding:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

button{
    cursor:pointer;
    border:none;
    border-radius:10px;
    padding:12px 20px;
    background:#2563EB;
    color:white;
    font-weight:600;
    transition:.3s;
}

button:hover{
    background:#1D4ED8;
}

input,
select,
textarea{
    width:100%;
    padding:12px;
    border:1px solid #CBD5E1;
    border-radius:10px;
    outline:none;
    margin:10px 0;
}

input:focus{
    border-color:#2563EB;
}

@media(max-width:900px){

.content{
    margin-left:0;
    padding:20px;
}

}